body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: verdana;
}

a {
  width: 300px;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.2s;
}
