body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: #272727;
}

button {
  background-color: red;
  border: none;
  position: relative;
  width: 480px;
  height: 120px;
  text-transform: uppercase;
  line-height: 120px;
  text-align: center;
  color: white;
  font-size: 45px;
  letter-spacing: 15px;
}

button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background-color: white;
  transition: all 0.5s;
}

button:hover::before {
  left: 0;
}
