body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: verdana;
  background-color: #222;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  color: #f6b93b;
  letter-spacing: 3px;
  padding: 25px 50px;
  border: 3px solid #f6b93b;
  transition: all 0.5s;
  position: relative;
}
