body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: verdana;
  background-color: #272727;
}

a {
  width: 220px;
  height: 80px;
  color: #ff0;
  background-color: transparent;
  font-size: 26px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
  transition: all 0.5s;
  position: relative;
}

a::before,
a::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #ff0;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}

a::before {
  left: 0;
}

a::after {
  right: 0;
}
